* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E9E0E1;
}

/*----Heading----*/

/*----Nav bar----*/

nav {
    background-color: #B65952;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}


.nav-link {
    text-decoration: none;

}

.main-header {
    padding-bottom: 10px;
    margin-top: 5px;
    letter-spacing: 3px;
    margin-left: 20px;
    font-weight: 700;
}

.header-link {
    text-decoration: none;
}

a {
    color: #362625;

}

nav a:hover {
    color: #E6CACA;

}

/*----Nav bar----*/

/*----About Endome Section----*/

.about-endome {
    color: #362625;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.about-endome h2 {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.about-endome p {
    font-weight: 500;
}

/*----About Endome section----*/

/*---Hero image----*/

.hero-image {
    border-radius: 10px;
    max-width: 250px;
    max-height: 250px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*----Hero image----*/

/*----Stages----*/

.stages-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #362625;
}

.container-stage {
    background: #C1716B;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.container-stage ul {
    list-style-type: none;
}

.container-stage ul li {
    font-weight: 600;
}

/*----Footer----*/

.footer-container {
    background: #B65952;
    border: none;
    text-align: center;
    padding: 15px;
}

footer {
    border-top: solid 1px #362625;
}

.social-media {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

/*---------Symptoms page--------*/

/*----Symptoms section----*/

.symptoms-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #362625;
}

.symptoms-introduction {
    margin-bottom: 20px;
}

.symptoms-introduction h2 {
    text-transform: capitalize;
}

.symptoms-introduction p {
    font-weight: 500;
}

.container-symptoms {
    background: #C1716B;
    border: none;
    text-align: center;
    padding: 15px;
    margin: 10px;
    display: flex;
}

.container-symptoms {
    width: 400px;
    height: 250px;
    justify-content: center;
    gap: 15px;
    display: inline-block;
    border-radius: 5px;
}

.container-symptoms ul {
    list-style-type: none;
    font-weight: 600;
}

/*----Symptoms section----*/

/*----Treatment and Tips section----*/

.treatment-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: #362625;
}

.treatment-section h3 {
    font-size: larger;
    font-weight: bolder;
}

.treatment-section p {
    font-weight: 500;
}

.treatment {
    background: #C1716B;
    margin: 10px;
    padding: 15px;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    font-weight: 600;
}


.treatment-section li {
    list-style-type: none;
    align-items: center;
}

.tips-container h3 {
    font-size: larger;
    text-transform: capitalize;
}

.tips-container li {
    list-style: none;
    align-items: center;
}

.tips-container p {
    font-weight: 500;
}

.tips {
    background: #C1716B;
    margin: 10px;
    padding: 15px;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    justify-content: center;
    font-weight: 600;
}


/*-----Symptoms page-----*/

/*--------Contact page--------*/

/*----Contact form----*/

.contact-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    color: #362625;
}

.contact-container h3 {
    font-size: 23px;
}

.contact-paragraph {
    background: #E6CACA;
    margin: 10px 40px;
    padding: 20px;
    text-align: center;
    font-weight: 500;
}

.contact-form-container {
    background: #C1716B;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.contact-form {
    align-items: center;

}

.form-contact {
    text-align: center;
    font-weight: 500;
}

/*-----Submit button----*/

.submit-button {
    background-color: #E6CACA;
    border: none;
    color: #362625;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/*-----Contact form-----*/

/*-----Contact page image----*/

.contact-image {
    background: #E6CACA;
    margin: 10px;
    display: flex;
    border-radius: 10px;
    justify-content: center;

}

.image-contact {
    border-radius: 10px;
    width: 95%;
    height: 95%;
    margin: 10px;
}

@media only screen and (max-width: 640px) {
    .stages-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        font-size: 10px;
    }

    .nav-links {
        gap: 5px;
    }

    .main-header {
        margin-left: 5px;
    }
  }

  @media only screen and (min-width: 641px) {
    .stages-container {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
    }
  }