* {
    margin: 0;
    padding: 0;
}

html, body {
     height: 100%;
    }

body > footer {
  position: sticky;
  top: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif ;
    background-color: #E9E0E1;
}

/*----Heading----*/

/*----Nav bar----*/

nav {
    background-color: #B65952;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}


.nav-link {
    text-decoration: none;
    
}

.main-header {
    padding-bottom: 10px;
    margin-top: 5px;
    letter-spacing: 3px;
    margin-left: 20px;
    font-weight: 500;
}

.header-link {
    text-decoration: none;
}

a {
    color: #362625;

}

nav a:hover {
    color: #E9E0E1;
}

/*----Nav bar----*/

/*----About Endome Section----*/

.about-endome {
    color: #362625;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/*----About Endome section----*/

/*---Hero image----*/

.hero-image {
    border-radius: 10%;
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*----Hero image----*/

/*----Stages----*/

.stages-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-stage {
    background: #B65952;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    text-align: center;
}

.container-stage ul {
    list-style-type: none;
}

/*----Footer----*/

.footer-container {
    background: #B65952;
    border: none;
    text-align: center;
    padding: 15px;
}

footer {
    border-top: solid 1px #362625;
}

.social-media {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

/*----Symptoms page----*/

.symptoms-container {
    text-align: center;
    margin-top: 30px;
    margin bottom: 30px;
}

.symptoms-introduction{
    margin-bottom: 20px;

}
.container-symptoms {
    background: #C66963;
    border: none;
    text-align: center;
    padding: 15px;
    margin: 10px;
    display: flex;
}

.container-symptoms {
    width: 400px;
    height: 300px;
    justify-content: center;
    gap: 15px;
    display: inline-block;
    border-radius: 5%;
}

.container-symptoms ul {
    list-style-type: none;
}

